<div class="container-fluid p-3">
    <div class="container-fluid p-0 rounded shadow">
        <div class="container-fluid pt-3 pr-0">
            <h4 class="d-inline-block">Leave List</h4>
            <button class="btn btn-sm custom-btn float-right mr-3" [routerLink]="['/student/home/createleave']">Apply new leave</button>
            <div class="row w-100 mt-2">
                <div class="col-md-6 col-lg-12 col-sm-6 pr-0 mb-3"  *ngFor="let leave of leaveList">
                    <div class="card my-1 rounded">
                        <div class="col bg-card-head py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white">{{leave.type}}</span>
                        </div>
                        <div class="col py-2 d-flex flex-column">
                            <span *ngIf="leave.status === 'pending'" >Status <span class="text-warning">{{leave.status}}..</span></span>
                            <span *ngIf="leave.status === 'approved'" class="text-success">{{leave.status}}</span>
                            <span *ngIf="leave.status === 'declined'" class="text-danger">{{leave.status}}</span>
                            <br>
                            <span>Reason: {{leave.reason}}</span>
                            <br>
                            <span>From: {{leave.durationstart}}</span>
                            <span>To: {{leave.durationend}}</span>
                        </div>
                        <div class="col py-2 d-flex align-items-center justify-content-end">
                            <i class="fas fa-edit mx-1 pointer" (click)="editLeave(leave)"></i>
                            <i class="fas fa-trash-alt mx-1 pointer" (click)="openModal(template, leave)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>    
 <ng-template #template>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default" (click)="deleteLeave()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>
