
<div class="container-fluid p-3">
    <div class="container-fluid p-0 rounded shadow">
        <div class="container-fluid py-3">
            <h4 class="mb-4 d-inline-block">Objective Exam list</h4>
            <div class="d-flex flex-wrap">
                <div class="student-exam-card col-lg-3 col-12" *ngFor="let exam of examList;let i = index;">
                    <span class="w-100 d-flex align-items-center justify-content-end"><app-timer [satrtdate]="currentTime" [enddDate]="exam.enddate" (state)="buttonCtrl($event, i)"></app-timer></span>
                    <h6>{{exam.name}}</h6>
                    <label class="label" for=""><label>Subject:</label>{{exam.subject}}</label>
                    <label class="label" for=""><label>Marks:</label>{{exam.totalmarks}}</label>
                    <label class="label" for=""><label>Start At:</label>{{exam.startdate | date:'short'}}</label>
                    <label class="label" for=""><label>End At:</label>{{exam.enddate | date:'short'}}</label>
                    <button class="btn attend-btn" *ngIf="exam.active" (click)="navigate(exam,instruction)">Attent exam</button>
                </div>
            </div>
        </div>
    </div>
</div>  

<div class="container-fluid p-3">
    <div class="container-fluid p-0 rounded shadow">
        <div class="container-fluid py-3">
            <h4 class="mb-4 d-inline-block">Subjective Exam list</h4>
            <div class="d-flex flex-wrap">
                <div class="student-exam-card col-lg-3 col-12" *ngFor="let exam of examList2;let i = index;">
                    <span class="w-100 d-flex align-items-center justify-content-end"><app-timer [satrtdate]="currentTime" [enddDate]="exam.enddate" (state)="buttonCtrl2($event, i)"></app-timer></span>
                    <h6>{{exam.name}}</h6>
                    <label class="label" for=""><label>Subject:</label>{{exam.subject}}</label>
                    <label class="label" for=""><label>Marks:</label>{{exam.totalmarks}}</label>
                    <label class="label" for=""><label>Start At:</label>{{exam.startdate | date:'short'}}</label>
                    <label class="label" for=""><label>End At:</label>{{exam.enddate | date:'short'}}</label>
                    <button class="btn attend-btn" *ngIf="exam.active" (click)="navigate(exam,instruction2)">Attent exam</button>
                </div>
            </div>
        </div>
    </div>
</div>  

<div class="container-fluid p-3">
    <div class="container-fluid p-0 rounded shadow">
        <div class="container-fluid py-3">
            <h4 class="mb-4 d-inline-block">Exam Result</h4>
            <div class="d-flex flex-wrap" *ngFor="let answer of answerList;let i = index;">
                    <div class="student-exam-card col-lg-3 col-12" *ngIf="answer.mark !== null">
                        <h6>{{answer.examname}}</h6>
                        <label class="label" for=""><label>Subject:</label>{{answer.subject}}</label>
                        <label class="label" for=""><label>Teacher:</label>{{answer.teacher}}</label>
                        <label class="label" for=""><label>Mark:</label>{{answer.mark}}</label>  
                    </div> 
            </div>
        </div>
    </div>
</div>
 <ng-template #instruction>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>
  <ng-template #instruction2>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default" (click)="confirm2()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>