<div class="container-fluid p-3">
    <div class="container-fluid p-0 rounded shadow">
       
       <div class="container-fluid pt-3">
           <h4 class="mb-4">Chat</h4>
           <div class="row border-top">
               <div class="col-md-4 row m-0 px-0 d-flex">
                    <div class="col-12 contact  align-self-start row m-0 pb-3 px-0 pt-3 border-bottom" *ngFor="let staff of staffList" (click)="selectStaff(staff)">
                        <div class="col-3 profile-pic">
                            <img src="../../../assets/avatar.png" alt="">
                        </div>
                        <div class="col">
                            <label class="d-block mt-3" for="">{{staff.firstname}} {{staff.lastname}}</label>
                            <span *ngFor="let subject of staff.assignedSubject"><label class="mr-1" for="">{{subject}},</label></span>
                        </div>
                    </div>     
               </div>
               <div class="col d-flex border-left align-items-start p-0">
                   <div class="message-body">
                        <div class="" *ngFor="let msg of msgList">
                            <div class="message left" *ngIf="msg.from !== from">
                                {{msg.msg}}
                            </div>
                            <div class="message right" *ngIf="msg.from === from">
                            {{msg.msg}}
                            </div>
                        </div>
                   </div>
                       
                    <div class="message-box">
                        <input [(ngModel)]="chat.msg" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your text here....">
                        <a><img src="../../../assets/Sent-button.svg" class="pointer" alt="send" (click)="send()"></a>
                    </div>
               </div>
           </div>
       </div>
    </div>
</div>

