
<div class="container-fluid w-100 p-0">
  
  <div class="row m-0">
    <div class="col-12 p-3">
      <div class="card" *ngFor="let item of timetable; let i = index">
        <div class="col bg-card-head text-white py-2 d-flex align-items-center justify-content-between">
            <div class="">
                <span class="mr-3"><strong>class: {{item.name}}</strong></span>
                <span><strong>Section: {{item.section}}</strong></span>
            </div>
        </div>
        <div class="col bg-white py-2 d-flex align-items-center justify-content-between" *ngFor="let period of item.timetable">
            <div class="col px-0 d-flex flex-column align-items-center justify-content-center">
                <span class="bg-warning w-100 text-white text-center">Day</span>
                <span>{{period.day}}</span>
                <span>Duration</span>
            </div>
            <div class="col d-flex flex-column align-items-center justify-content-center mx-1 border-left" *ngFor="let subject of period.subjects">
                <span class="bg-warning w-100 text-white text-center">{{subject.name}}</span>
                <span>{{subject.subname}}</span>
                <span>{{subject.startduration}} to {{subject.endduration}}</span>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-lg-3 col-md-4 col-sm-6 p-3">
      <div class="card" *ngIf="studentInfo">
        <i class="fas fa-circle text-success m-2 "></i>
        <h2 class="pt-2 text-center">Class {{studentInfo.class}} {{studentInfo.section}}</h2>
        <div id="button-placeholder" class="button-placeholder">
          <h6 class="text-light text-center" (click)="navigate2()">GET IN TO LIVE</h6>
        </div>
      </div>
    </div>
  </div>

</div>