
<div class="container-fluid w-100 p-0">
<div class="row m-0">
    <div class="col-lg-3 col-md-4 col-sm-6 p-3">
      <div class="card" *ngIf="studentInfo">
        <i class="fas fa-circle text-success m-2 " *ngIf="liveFlag"></i>
        <i class="fas fa-circle text-danger m-2 " *ngIf="!liveFlag"></i>
        <h2 class="pt-2 text-center">Class {{studentInfo.class}} {{studentInfo.section}}</h2>
        <div id="button-placeholder" class="button-placeholder" *ngIf="liveFlag">
          <h6 class="text-light text-center pointer" (click)="navigate2()">GET IN TO {{subject}}</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 p-3">
      <div class="card" *ngIf="studentInfo">
        <i class="fas fa-circle text-success m-2 "></i>
        <h2 class=" text-center">Attendance</h2>
        <div id="button-placeholder" class="button-placeholder">
          <h6 class="text-light text-center pointer" (click)="punch()">Punch</h6>
        </div>
      </div>
    </div>
  </div>


 <div class="container-fluid p-3">
  <div class="row m-0" *ngFor="let item of timetable; let i = index">
    <div class="col-sm-12 col-xl-4 pl-0 pr-0 pr-md-3 mb-4" *ngFor="let period of item.timetable">
      <div class="card col-12 row m-0">
        <div class="bg-card-head col-12 py-2 text-white">
          <h6>{{period.day}}</h6>
        </div>
        <div class="col-12 row m-0 py-2 border-bottom" *ngFor="let subject of period.subjects">
          <div class="col-4 py-1 border-right">{{subject.name}}</div>
          <div class="col py-1">{{subject.subname}} ({{subject.startduration}}-{{subject.endduration}})</div>
        </div>
      </div>
    </div>
  </div>
 </div>
  
  
  

</div>