<div class="container-fluid">
    <div class="row py-2">
        <div class="col-lg-4 col-md-3 col-12 my-1">
            <div class="card">
                <div class="col bg-card-head text-white py-2 d-flex align-items-center justify-content-between rounded-top">
                    <div class="">
                        <i class="fas fa-bullhorn mx-2"></i>
                        <span><strong>Notice</strong></span>
                    </div>
                    <i class="fas fa-bookmark"></i>
                    <i class="fas fa-bookmark text-warning"></i>
                    <i class="fas fa-bookmark text-danger"></i>
                </div>
                <div class="col py-2">
                    <h6><strong>Class test will be start soon..!</strong></h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, tempore.</p>
                    <p class="d-flex flex-column">
                        <span>Date: 12-02-2020</span>
                        <span>Author: Admin</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>