.btn-custom{
  min-width: 100px !important;
  border-radius: 2px !important;
  font-weight: 800;
}
.btn-custom:hover{
  background-color: white;
  color: black;
  border:2px solid #463e63;
}
.card{
  overflow: hidden !important;
}
.fire {
  z-index: 1000 !important;
  background-image: url(../../../assets/img/selective-focus-photography-of-bookshelf-with-books-1370296.jpg);
  background-size: cover;
}
.bg-img {
 background-color: #372f54;
}
.layer-inner{
  clip-path: circle(50% at 0 0);
  background-color: #5c5671;
  position: absolute;
  z-index: 5;
}
.layer-outer{
  clip-path: circle(75.7% at 0 0);
  background-color: #413863;
  position: absolute;
  z-index: 1;
}
.index-5 {
  z-index: 10;
}
.bg-default{
  background-color: transparent !important;
}