<div class="container-fluid bg-slider" *ngIf="tile === 1">
  <div class="row">
      <div class="col-12 pt-5 pb-sm-5 pb-4">
          <img class="image pl-sm-5" src="../../../assets/img/logo3.png" alt="">
      </div>
      <div class="col-12 mt-sm-5">
          <label for="" class="slider__title pl-sm-5">Title Lorem</label>
          <label for="" class="slider__details pl-sm-5 mb-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in ratione aliquam.
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit a consequatur quis dignissimos fugit. Porro, inventore! Hic id soluta omnis quidem totam distinctio sint aspernatur fugit ipsum magni adipisci est eos,
          </label>
          <button (click)="tile = 2" class="pink-btn btn badge-pill px-4 py-2 ml-sm-5">GET STARTED</button>
      </div>
      <img src="../../../assets/img/slider-bg.png" class="bg-slider-bottom d-none mt-5" alt="">
  </div>
</div>
<div class="container-fluid " *ngIf="tile === 2">
  <div class="row">
      <div class="col-12 pt-5 pb-sm-5 pb-4">
          <img class="image pl-sm-5" src="../../../assets/img/logo3.png" alt="">
      </div>
      <div class="col-12 col-md-6 text-center py-sm-5 py-3 mt-lg-5">
          <img src="../../../assets/img/teacher.png" alt="" class="access-image d-block mx-auto mb-4">
          <a ><button class="pink-btn btn badge-pill px-4 py-2  m-auto" (click)="tile = 3">TEACHER</button></a>
      </div>
      <div class="col-12 col-md-6 text-center py-sm-5 py-3 mt-lg-5">
          <img src="../../../assets/img/student.png" alt="" class="access-image d-block mx-auto mb-4">
          <a ><button class="pink-btn btn badge-pill px-4 py-2 m-auto" (click)="tile = 4">STUDENT</button></a>
      </div>
  </div>
</div>
<div class="container-fluid" *ngIf="tile === 3">
  <div class="row">
      <div class="col-12 pt-5 pb-sm-5 pb-4">
          <img class="image pl-sm-5" src="../../../assets/img/logo3.png" alt="">
      </div>
      <div class="col-12 mt-sm-3">
          <div class="box">
              <label for="" class="box__title">Login</label>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input [(ngModel)]="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">remember password</label>
                  </div>
                  <button class="pink-btn btn badge-pill px-5 pb-2 mx-auto d-block mt-4" (click)="teacherlogin(template)">Login</button>
                  <a [routerLink]="['/home/forget']" class="forgot-password" href="">Forgot password</a>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid" *ngIf="tile === 4">
  <div class="row">
      <div class="col-12 pt-5 pb-sm-5 pb-4">
          <img class="image pl-sm-5" src="../../../assets/img/logo3.png" alt="">
      </div>
      <div class="col-12 mt-sm-3">
          <div class="box">
              <label for="" class="box__title">Login</label>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input [(ngModel)]="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">remember password</label>
                  </div>
                  <button class="pink-btn btn badge-pill px-5 pb-2 mx-auto d-block mt-4" (click)="studentlogin(template)">Login</button>
                  <a [routerLink]="['/home/forget']" class="forgot-password" href="">Forgot password</a>
          </div>
      </div>
  </div>
</div>

<!-- <div class="container-fluid p-0 d-none">
  <div class="row m-0">
    <div class="col-md-5 pattern-2">
      <div class="logo-container text-center">
        <img class="mb-3" src="../../../assets/img/logo.png" alt="">
        <h1>M.G.M International</h1>
      </div>
    </div>
    <div class="col-md-7 pattern-1">
      <div class="access-control" *ngIf="!login">
        <button class="btn btn-main d-block mb-3" (click)="login = !login; tile = 2"><i class="fas fa-chalkboard-teacher"></i>Teacher Login</button>
        <button class="btn btn-main d-block mb-3" (click)="login = !login; tile = 1"><i class="fas fa-user-graduate"></i>Student Login</button>
      </div>
      <div class="login-form" *ngIf="login">
        <div class="col px-0 text-primary mb-3"><i class="fas fa-arrow-left bg-light py-2 px-2 rounded-circle shadow-sm" (click)="login = !login"></i></div>
        <div class="form-group">
          <label for="">Username</label>
          <input [(ngModel)]="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="d-block text-right mt-1 mb-3">
          <a class="text-light" href="">Forget password?</a>
        </div>
        <div class="d-block text-center" *ngIf="tile === 1">
          <button class="btn btn-primary" (click)="studentlogin(template)">Login</button>
        </div>
        <div class="d-block text-center" *ngIf="tile === 2"> 
          <button class="btn btn-primary" (click)="teacherlogin(template)">Login</button>
        </div>
        
      </div>
    </div>
  </div>
</div> -->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Login</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    please wait...!
  </div>
</ng-template>