<div class="container-fluid">
    <div class="row py-2">
        <div class="col-lg-3 col-12">
           <select #selectedClass class="form-control form-control-sm" (change)="sectionSelection(selectedClass)">
               <option value="null">Select class</option>
               <option value="{{room.room}}" *ngFor="let room of assignedclassList">{{room.room}}</option>
           </select>
        </div>
        <div class="col-lg-3 col-12">
            <select [(ngModel)]="query.section" class="form-control form-control-sm">
                <option value="null">Select section</option>
                <option value="{{section}}" *ngFor="let section of assignedsectionList">{{section}}</option>
            </select>
        </div>
        <div class="col-lg-3 col-12">
            <button class="btn btn-sm custom-btn" (click)="search()">Search</button>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-12" *ngFor="let student of studentList; let i = index;">
            <div class="card">
                <div class="bg-card-head py-2 text-white d-flex align-items-center justify-content-between">
                    <span>{{student.name}}</span>
                    <div class="d-flex">
                        <select #selectedSubject class="form-control form-control-sm mx-1">
                            <option value="null">Select subject</option>
                            <option value="{{subject}}" *ngFor="let subject of assignedsubjectList">{{subject}}</option>
                        </select>
                        <button class="btn btn-sm custom-btn border-white mx-1" (click)="view(selectedSubject,i)">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
