<!-- <div class="container-fluid">
    <div class="row my-2">
        <div class="col-12 py-2">
            <i class="fas fa-grip-horizontal mx-2"></i> 
            <span><strong>Class Study material Gallery</strong></span>
        </div> -->

        <!-- student gallery from student satrt -->


        <!-- <div class="col-12">

            <div class="card">
                <div class="col bg-card-head text-white py-2 border-bottom pointer" data-toggle="collapse" href="#photogallery" role="button" aria-expanded="false" aria-controls="photogallery">
                    <span><strong>Photo Gallery</strong></span>
                </div>
                <div class="collapse" id="photogallery">
                    <div class="col d-flex flex-wrap py-1">
                        <div class="img-item position-relative pointer mx-1" *ngFor="let file of photoList">
                            <img src="{{file.content}}" width="120px" height="150px" alt="" class="">
                            <div class="position-absolute caption text-white p-1">
                                {{file.name}}
                                <a href="{{file.content}}" download="{{file.name}}"><i class="fas fa-download float-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col bg-card-head text-white py-2 border-bottom pointer" data-toggle="collapse" href="#pdfgallery" role="button" aria-expanded="false" aria-controls="pdfgallery">
                    <span><strong>Pdf Gallery</strong></span>
                </div>
                <div class="collapse" id="pdfgallery">
                    <div class="col bg-white py-2 d-flex flex-wrap">
                        <div class="card" *ngFor="let item of pdfList">
                            <div class="col bg-card-head text-white py-2">{{item.name}}</div>
                            <div class="col d-flex flex-column justify-content-center align-items-center py-2">
                                <i class="fas fa-file-pdf"></i>
                                <span>Subject: {{item.subject}}</span>
                            </div>
                            <div class="col bg-card-head py-2">
                                <a [href]="this.sanitizer.bypassSecurityTrustResourceUrl(item.content)" download="{{item.name}}.pdf"><i class="fas fa-download float-right"></i></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col bg-card-head text-white py-2 border-bottom pointer" data-toggle="collapse" href="#documentgallery" role="button" aria-expanded="false" aria-controls="documentgallery">
                    <span><strong>Document Gallery</strong></span>
                </div>
                <div class="collapse" id="documentgallery">
                    <div class="card card-body">
                      updated shortly
                    </div>
                </div>
                <div class="col bg-card-head text-white py-2 border-bottom pointer" data-toggle="collapse" href="#linkgallery" role="button" aria-expanded="false" aria-controls="linkgallery">
                    <span><strong>Link Gallery</strong></span>
                </div>
                <div class="collapse" id="linkgallery">
                    <div class="card card-body">
                      updated shortly
                    </div>
                </div>
            </div>

        </div> -->


        <!-- student gallery from student stop -->
        <!-- <div class="col-12 py-2">
            <i class="fas fa-grip-horizontal mx-2"></i> 
            <span><strong>Student Gallery Controls</strong></span>
        </div> -->
        <!-- student gallery uploads start -->
        <!-- <div class="col-lg-4 col-12">
            <div class="">
                <div class="col bg-card-head py-2 text-white rounded-top">
                    <span><strong>Media upload</strong></span>
                </div>
                <div class="col">
                    <div class="col bg-white py-2">
                        <select [(ngModel)]="subject" class="form-control form-control-sm my-1">
                            <option value="null">Select Subject</option>
                            <option value="{{subject.name}}" *ngFor="let subject of subjectList">{{subject.name}}</option>
                        </select> 
                        <input  type="file" class="form-control-file" id="exampleFormControlFile1" (change)="studentfileUploader($event)">
                    </div>
                </div>
                <div class="col bg-card-head py-2 text-white rounded-bottom d-flex justify-content-end">
                   <button class="btn btn-sm custom-btn border-white" (click)="upload()">Upolad</button>
                </div>
            </div>
        </div> -->
        <!-- student gallery uploads stop -->

        <!-- student gallery for photos start -->
        <!-- <div class="col-lg-8 col-12">
            <div class="col bg-card-head py-2 rounded-top text-white">
                <span><strong>Photo Gallery</strong></span>
            </div>
            <div class="col">
                <div class="col bg-white d-flex flex-wrap py-2" *ngIf="studentInfo">
                    <div class="img-container position-relative m-1" *ngFor="let photo of studentInfo.content; let i = index;">
                        <img src="{{photo.media}}" width="100px" height="120px" alt="" class="">
                        <div class="img-overlay position-absolute">
                            <i class="fas fa-trash-alt pointer" (click)="delete(i)"></i>
                        </div>
                        <div class="img-overlay-2 position-absolute  flex-column">
                            <span>{{photo.subject}}</span>
                            <span>{{photo.date}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col bg-card-head py-2 rounded-bottom text-white">
                <span><strong>filter</strong></span>
            </div>
        </div> -->
        <!-- student gallery for photos start -->
    <!-- </div>
</div> -->





<div class="container-fluid p-3">
    <div class="container-fluid p-0 rounded shadow">
       
       <div class="container-fluid py-3">
           <h4 class="mb-4">Study Material</h4>
           <div class="row m-0">
               <div class="col-12 row m-0 p-0">
                   <div class="col-md-4 pl-0 mb-3">
                       <input [(ngModel)]="name" type="text" name="contentname" id="contentname" class="form-control" placeholder="Name of content">
                   </div>
                   <div class="col-md-4 pl-md-3 pl-0 mb-3">
                       <textarea [(ngModel)]="note" name="note" id="note" class="form-control" placeholder="Enter notes"></textarea>
                   </div>
               </div>

               <div class="col-md-4 pb-3 pl-md-0 pl-0">
                   <select [(ngModel)]="type" id="roomselection" class="form-control form-control">
                       <option value="null">Select type of file</option>
                       <option value="image">Image</option>
                       <option value="pdf">Pdf</option>
                       <option value="doc">Doc</option>
                       <option value="link">Link</option>
                   </select>
               </div>
               <div class="col-md-8 pt-1 pl-0 pl-md-3 mb-3">
                   <label class="mr-3" for="">Upload material</label>
                   <input (change)="studentfileUploader($event)" type="file" name="" id="exampleFormControlFile1">
               </div>
               <div class="col-12 text-md-right pl-0 pl-md-3">
                   <button class="btn btn custom-btn mx-1" (click)="cancel()" *ngIf="! saveFlag">Cancel</button>
                   <button class="btn btn custom-btn" (click)="update()" *ngIf="! saveFlag">Update</button>
                   <button class="btn btn custom-btn" (click)="upload()" *ngIf="saveFlag">Upload</button>
               </div>
           </div>
       </div>
    </div>
</div>
<div class="container-fluid p-3"  *ngIf="photoList.length !== 0">
   <div class="container-fluid p-0 rounded shadow">
       <div class="container-fluid py-3">
           <h4 class="d-inline-block">Material Photo Gallery</h4>
           <div class="btn-group float-right">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item text-dark" href="#">Action</a>
                    <a class="dropdown-item text-dark" href="#">Another action</a>
                    <a class="dropdown-item text-dark" href="#">Something else here</a>
                    <a class="dropdown-item text-dark" href="#">Separated link</a>
                </div>
            </div>
           <div class="row">
               <div class="col-md-12 row m-0 p-0">

                 <div id="mdb-lightbox-ui"></div>

                 <div class="mdb-lightbox no-margin m-0 row">

                   <figure class="col-lg-4 col-md-4 col-sm-6 img-item position-relative pointer mt-3" *ngFor="let file of photoList;let i = index;">
                     <a href="#" data-size="1600x1067">
                       <img alt="picture" src="{{file.content}}" class="img-fluid">
                     </a>
                       <div class="position-absolute caption text-white p-1 text-right">
                           <label class="float-left pl-3" for="">{{file.name}}</label>
                           <a href="{{file.content}}" download="{{file.name}}">
                               <i class="mr-2 fas fa-download"></i>
                           </a>
                       </div>
                   </figure>

                 </div>

               </div>
           </div>
       </div>

   </div>
</div>    


<div class="container-fluid p-3" *ngIf="pdfList.length !== 0">
   <div class="container-fluid p-0 rounded shadow">
       <div class="container-fluid py-3">
           <h4 class="mb-4 d-inline-block">Material PDF Gallery</h4>
           <div class="btn-group float-right">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item text-dark" href="#">Action</a>
                    <a class="dropdown-item text-dark" href="#">Another action</a>
                    <a class="dropdown-item text-dark" href="#">Something else here</a>
                    <a class="dropdown-item text-dark" href="#">Separated link</a>
                </div>
            </div>
           <div class="d-flex">
               <div class="pdf-card mr-3 text-center" *ngFor="let item of pdfList;let i = index;">
                   <i class="pdf-icon fas fa-file-pdf"></i>

                   <label class="file-name" for="">{{item.name}}</label>
                   <a class="download-icon" [href]="this.sanitizer.bypassSecurityTrustResourceUrl(item.content)" download="{{item.name}}.pdf">
                       <i class="mr-2 fas fa-download"></i>
                   </a>
               </div>
           </div>
       </div>
   </div>
</div>    

<div class="container-fluid p-3" *ngIf="docList.length !== 0">
   <div class="container-fluid p-0 rounded shadow">
       <div class="container-fluid py-3">
           <h4 class="mb-4 d-inline-block">Material DOC Gallery</h4>
           <div class="btn-group float-right">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item text-dark" href="#">Action</a>
                    <a class="dropdown-item text-dark" href="#">Another action</a>
                    <a class="dropdown-item text-dark" href="#">Something else here</a>
                    <a class="dropdown-item text-dark" href="#">Separated link</a>
                </div>
            </div>
           <div class="d-flex">
               <div class="doc-card mr-3" *ngFor="let item of docList;let i = index;">
                   <i class="pdf-icon fas fa-file-pdf"></i>

                   <label class="file-name" for="">{{item.name}}</label>
                   <a class="download-icon" [href]="this.sanitizer.bypassSecurityTrustResourceUrl(item.content)" download="{{file.name}}.doc">
                       <i class="mr-2 fas fa-download"></i>
                   </a>
               </div>
           </div>
       </div>
   </div>
</div>    


<div class="container-fluid p-3">
   <div class="container-fluid p-0 rounded shadow">
       <div class="container-fluid py-3">
           <h4 class="mb-4 d-inline-block">Shared Links</h4>
           <div class="btn-group float-right">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item text-dark" href="#">Action</a>
                    <a class="dropdown-item text-dark" href="#">Another action</a>
                    <a class="dropdown-item text-dark" href="#">Something else here</a>
                    <a class="dropdown-item text-dark" href="#">Separated link</a>
                </div>
            </div>
           <div class="row m-0">
               <div class="link-container d-flex mr-3 mb-3">
                   <a href=""><label class="mx-2 m-0" for="">Maths chapter 2 link</label></a>
               </div>
               <div class="link-container d-flex mr-3 mb-3">
                   <a class="text-primary" href=""><label class="mx-2 m-0" for="">Maths chapter 3 </label></a>
               </div>
               <div class="link-container d-flex mr-3 mb-3">
                   <a class="text-primary" href=""><label class="mx-2 m-0" for="">Maths chapter 3 link Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate possimus animi praesentium necessitatibus facilis ipsum quae ad natus, error similique laboriosam nesciunt odio, accusantium at eos sed deleniti molestiae nostrum.</label></a>
               </div>
               <div class="link-container d-flex mr-3 mb-3">
                   <a class="text-primary" href=""><label class="mx-2 m-0" for="">Maths chapter 3 link Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate possimus animi praesentium necessitatibus facilis ipsum quae ad natus, error similique laboriosam nesciunt odio, accusantium at eos sed deleniti molestiae nostrum.</label></a>
               </div>
           </div>
       </div>
   </div>
</div>   


<div class="container-fluid p-3"  *ngIf="photoList.length !== 0">
    <div class="container-fluid p-0 rounded shadow">
        <div class="container-fluid py-3">
            <h4 class="d-inline-block">Student meterial Gallery</h4>
            <!-- Example single danger button -->
            <div class="btn-group float-right">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item text-dark" href="#">Action</a>
                <a class="dropdown-item text-dark" href="#">Another action</a>
                <a class="dropdown-item text-dark" href="#">Something else here</a>
                <a class="dropdown-item text-dark" href="#">Separated link</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 row m-0 p-0">
 
                  <div id="mdb-lightbox-ui"></div>
 
                  <div class="mdb-lightbox no-margin m-0 row">
 
                    <figure class="col-lg-3 col-md-4 col-sm-6 img-item position-relative pointer mt-3" *ngFor="let file of photoList;let i = index;">
                      <a href="#" data-size="1600x1067">
                        <img alt="picture" src="{{file.content}}" class="img-fluid">
                      </a>
                        <div class="position-absolute caption text-white p-1 text-right">
                            <label class="float-left pl-3" for="">{{file.name}}</label>
                            <a href="{{file.content}}" download="{{file.name}}">
                                <i class="mr-2 fas fa-download"></i>
                            </a>
                        </div>
                    </figure>
 
                  </div>
 
                </div>
            </div>
        </div>
 
    </div>
 </div>    