<div class="container-fluid">
  <div class="row py-2">
    <div class="col-12">
     <div class="hostvideo position-relative d-flex justify-content-center" id="hostvideo">

      <div class="video-controls d-flex flex-column position-absolute">
        <i class="fas fa-play text-white my-2" (click)="activateLiveStream()"></i>
        <i class="fas fa-stop-circle text-danger"></i>

      </div>
     </div>
     <div class="remote d-flex justify-content-between" id="remote">

    </div>
    </div>
  </div>
</div>
