<!-- <mat-card class="card" *ngIf="studentInfo"> -->

    <!-- card for my details -->
    <!-- <mat-card class="boxArrange">
      <mat-card-header>
        <mat-card-title class="iconAlign">My Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="d-flex">
          <div>
            <div><img src="{{studentInfo.photo}}" class="imageAlign" /></div>
            <div class="name">
              <mat-label>Name: {{studentInfo.firstname}}</mat-label>
            </div>
          </div>
          <div class="col">
            <div>Staff Id: {{studentInfo.staffid}}</div>
            <div>Date of Birth: {{studentInfo.dob}}</div>
            <div>Date of Joining: {{studentInfo.doj}}</div>
            <div>Mobile Number:  {{studentInfo.phone}}</div>
            <div>Caste</div>
            <div>Religion</div>
            <div>Email: {{studentInfo.email}}</div>
            <div>Blood Group</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card> -->
  
    <!-- card for my details -->
    <!-- <mat-card class="boxArrange">
      <mat-card-header>
        <mat-card-title class="iconAlign">Address Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="colArrange">
          <div>Current Address</div>
          <div>Permanent Address</div>
        </div>
      </mat-card-content>
    </mat-card> -->
  
    <!-- card for my details -->
    <!-- <mat-card class="boxArrange">
      <mat-card-header>
        <mat-card-title class="iconAlign">Parent/ Guardian Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="colArrange">
          <div>Father Name</div>
          <div>Father Phone</div>
          <div>Father Occupation</div>
          <div>Mother Name</div>
          <div>Mother Phone</div>
          <div>Mother Occupation</div>
          <div>Guardian Name</div>
          <div>Guardian Email</div>
          <div>Guardian Relation</div>
          <div>Guardian Phone</div>
          <div>Guardian Occupation</div>
          <div>Guardian Address</div>
        </div>
      </mat-card-content>
    </mat-card>
  
  </mat-card> -->



  <div class="container-fluid pt-4 px-0">
    <div class="row m-0">
      <div class="col-lg-5 mb-4 p-3 row m-0 border-rounded p-0 shadow align-self-start">
        <div class="profile col-4 pl-0">
          <img class="w-100" src="../../../assets/avatar.png" alt="">
        </div>
        <div class="col-8 pt-2">
          <h3>ARUN MAKLEN</h3>
          <label for="">Asst.prof MATHS</label>
          <p class="mb-0">Staff id : <label for="">3098123</label></p>
          <label for="">arunmaklen@gmail.com</label>
        </div>
      </div>
      <div class="col row m-0 px-lg-3 px-0">
        <div class="col-12 row m-0 p-3 border-rounded shadow">
          <div class="col-12 mb-3">
            <h4>Profile Details</h4>
          </div>
          <div class="col-6">
            <label for="">Admission Date</label>
          </div>
          <div class="col-6">
            <label for="">20/08/2018</label>
          </div>
          <div class="col-6">
            <label for="">Date of Birth </label>
          </div>
          <div class="col-6">
            <label for="">20/08/1978</label>
          </div>
          <div class="col-6">
            <label for="">Mobile Number</label>
          </div>
          <div class="col-6">
            <label for="">+91 9846383554</label>
          </div>
          <div class="col-6">
            <label for="">Blood Group</label>
          </div>
          <div class="col-6">
            <label for="">A+</label>
          </div>
          <div class="col-6">
            <label for="">Address</label>
          </div>
          <div class="col-6">
            <label for="">martin(H), Edavetty(po), Thodupuzha</label>
          </div>
          <div class="col-6">
            <label for="">Blood Group</label>
          </div>
          <div class="col-6">
            <label for="">A+</label>
          </div>
          <div class="col-6">
            <label for="">Address</label>
          </div>
          <div class="col-6">
            <label for="">martin(H), Edavetty(po), Thodupuzha</label>
          </div>
          <div class="col-6">
            <label for="">Admission Date</label>
          </div>
          <div class="col-6">
            <label for="">20/08/2018</label>
          </div>
          <div class="col-6">
            <label for="">Date of Birth </label>
          </div>
          <div class="col-6">
            <label for="">20/08/1978</label>
          </div>
          <div class="col-6">
            <label for="">Mobile Number</label>
          </div>
          <div class="col-6">
            <label for="">+91 9846383554</label>
          </div>
          <div class="col-6">
            <label for="">Blood Group</label>
          </div>
          <div class="col-6">
            <label for="">A+</label>
          </div>
          <div class="col-6">
            <label for="">Address</label>
          </div>
          <div class="col-6">
            <label for="">martin(H), Edavetty(po), Thodupuzha</label>
          </div>
          <div class="col-6">
            <label for="">Blood Group</label>
          </div>
          <div class="col-6">
            <label for="">A+</label>
          </div>
          <div class="col-6">
            <label for="">Address</label>
          </div>
          <div class="col-6">
            <label for="">martin(H), Edavetty(po), Thodupuzha, PIN:685588</label>
          </div>
        </div>
      </div>
    </div>
  </div>