
<!-- start -->
<div class="container-fluid p-3">
    <div class="container-fluid p-3 shadow rounded">
        <div class="d-flex align-items-center mb-5">
            <h4 class="m-0">Create new exam</h4>
            <button class="btn custom-btn ml-auto mx-1" (click)="save()" *ngIf="mainSaveFlag">Save</button>
            <button class="btn custom-btn ml-auto mx-1" (click)="mainUpdate()" *ngIf="!mainSaveFlag">Update</button>
            <button class="btn custom-btn mx-1" (click)="cancel()" *ngIf="!mainSaveFlag">Cancel</button>
        </div>
        <div class="row m-0">

            <div class="col-md-4 col-lg-3 pl-0 mb-3 ">
                <select [(ngModel)]="selectedClass" class="form-control form-control" (change)="classSelection()">
                    <option value="null">Select class</option>
                    <option value="{{item.room}}" *ngFor="let item of classList">{{item.room}}</option>
                </select>
            </div>

            <div class="col-md-4 col-lg-3 pl-0 pl-md-3 mb-3">
                <select #sectionSelect class="form-control form-control"  (change)="sectionSelection(sectionSelect)">
                    <option value="null">Select section</option>
                    <option value="{{x}}" *ngFor="let x of sectionList">{{x}}</option>
                </select>
            </div>
            <div class="col-md-4 col-lg-3 pl-0 pl-md-3 mb-3">
                <select [(ngModel)]="selectedSubject" class="form-control form-control" *ngIf="assignedSubject">
                    <option value="null">Select section</option>
                    <option value="{{subject}}" *ngFor="let subject of assignedSubject">{{subject}}</option>
                </select>
            </div>

            <div class="col-md-4 col-lg-3 pl-0 mb-3">
                <input [(ngModel)]="examName" type="text" name="name" id="name" class="form-control" placeholder="Enter exam name">
            </div>
            <div class="col-md-4 col-lg-3 pl-0 mb-3">
                <input [(ngModel)]="totalmark" type="text" name="mark" id="mark" class="form-control" placeholder="Total mark">
            </div>
            <div class="col-md-4 col-lg-3 pl-0 pl-md-3 mb-3 ">
                <input [(ngModel)]="sheduledDate" type="datetime-local" name="date" id="date" class="form-control" placeholder="Start date">
            </div>
            <div class="col-md-4 col-lg-3 pl-0 mb-3 pl-lg-3">
                <input [(ngModel)]="endTime" type="datetime-local" name="enddate" id="enddate" class="form-control" placeholder="End date">
            </div>
            <div class="col-12 px-0 mb-3 mb-md-0 mx-0 row">
                <h6 class="mt-3 mb-4 col-12 p-0">Exam question</h6>
                <div class="col-md-4 col-lg-3 pl-0 mb-3">
                    <input [(ngModel)]="numberofOptions" type="number" name="name" id="name" class="form-control" placeholder="Enter no of option">
                </div>
                <div class="col-md-9 pl-0 pl-lg-3 mb-3">
                    <textarea class="form-control"  [(ngModel)]="question" placeholder="Question"></textarea>
                </div>
                <div class="col-md-4 col-lg-3 pl-0 mb-3">
                    <input [(ngModel)]="questionMark" type="number" name="mark" id="mark" class="form-control" placeholder="Mark">
                </div>
                <div class="col-md-4 col-lg-3 pl-0 pl-md-3 mb-3 pt-2">
                    <input type="file" placeholder="Enter no of option"  id="exampleFormControlFile1">
                </div>
                
                <div class="col-md-4 col-lg-3 pl-0 mb-3 pt-2" *ngFor="let option of optionList;let a = index;">
                    <input [(ngModel)]="optionList[a].value" type="text" name="{{option.key}}" id="{{option.key}}" class="form-control" placeholder="add value of {{option.key}}">
                </div>
                <div class="col-12 pl-0 mb-3 pt-2">
                    <button class="btn custom-btn mx-1" (click)="optionCreater()" *ngIf="addFlag">Add</button>
                    <button class="btn custom-btn mx-1" (click)="insert()" *ngIf="!addFlag && !updateFlag">Insert</button>
                    <button class="btn custom-btn mx-1" (click)="update()" *ngIf="!addFlag && updateFlag">Update</button>
                    <button class="btn custom-btn mx-1" (click)="cancel()" *ngIf="!addFlag">Cancel</button>
                </div>
            </div>
            <div class="col-12 px-0 mb-3 mb-md-0 mx-0 row">
                <h6 class="mb-3 col-12 p-0">Question list</h6>
                <div class="col-12 pt-3 border-bottom pb-3" *ngFor="let question of questionList; let i = index">
                    <p class="d-flex ">
                        <label class="w-10 mr-3">{{i + 1}})</label>
                        <label class="w-75">{{question.que}}</label>
                        <label class="ml-auto font-weight-bold" for="">Mark : {{question.mark}}</label>
                    </p>
                    
                    <p class="pl-4 row m-0" *ngFor="let option of question.options">
                        <label class="col-md-6 pl-0 d-flex"  for="">
                            <label class="w-10 mr-3">{{option.key}})</label>
                            {{option.value}}
                        </label>
                    </p>
                    <div class="col-12 d-flex align-items-end justify-content-end">
                        <i class="fas fa-edit mx-2" (click)="edit(question, i)"></i>
                        <i class="fas fa-trash-alt" (click)="delete(i)"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
