<div class="container-fluid p-3">
    <div class="row" *ngIf="statuscardData">
        <div class="col-md-4 mb-3">
            <div class="info-card text-center">
                <label class="info-card-title">Total No Of Students</label>
                <label class="card-info">{{statuscardData.totalStudent}}</label>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="info-card text-center">
                <label class="info-card-title">Total No Of Staff</label>
                <label class="card-info">{{statuscardData.totalStaff}}</label>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="info-card text-center">
                <label class="info-card-title">Total No Of Class</label>
                <label class="card-info">{{statuscardData.totalClass}}</label>
            </div>
        </div>
    </div>
</div>
