.info-card{
    width: 100%;
    background: linear-gradient(180deg, #057AC5 0%, #2964BC 100%);
    border-radius: 10px;
    color: #fff;
    padding: 50px 15px; 
}
.info-card .info-card-title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    display: block;
    margin-bottom: 20px;
}
.info-card .card-info{
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}