<div class="container-fluid vh-100" *ngIf="examFlag">
    <div class="row bg-white exam-body p-4" id="exam">
        <div class="col-12 my-2" *ngFor="let question of exam.questionlist; let il = index">
            <span> <strong>{{il + 1}}) </strong>  {{question.que}}</span>
            <div class="my-1 d-flex" *ngFor="let option of question.options; let i = index">
                <span class="mx-1">{{option.key}}</span>
                <div class="custom-control custom-radio">
                    <input type="radio" (change)="answersheet[il].ans = option.value" id="{{option.key + il + i}}" name="{{il}}" class="custom-control-input">
                    <label class="custom-control-label" for="{{option.key + il + i}}">{{option.value}}</label>
                  </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn-sm btn custom-btn" (click)="finish()">Finish</button>
        </div>
    </div>
</div>
<div class="container-fluid vh-100" *ngIf="!examFlag">
    <div class="row bg-white exam-body p-4" id="exam">
        <div class="col-12 my-2" *ngFor="let question of exam.questionlist; let il = index">
            <span> <strong>{{il + 1}}) </strong>  {{question.que}}</span>
            <textarea [(ngModel)]="answersheet[il].ans" class="form-control" cols="" rows="3"></textarea>
        </div>
        <div class="col-12">
            <button class="btn-sm btn custom-btn" (click)="finish2()">Finish</button>
        </div>
    </div>
</div>