<!-- <mat-sidenav-container>
  <mat-sidenav  #sidenav mode="side">
    <div class="container-fluid">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/student/myProfile']"><i class="fa fa-address-card text-white" aria-hidden="true"></i>
            <span class="menuLabel">My Profile</span></a>
        <a mat-list-item><i class="fa fa-video-camera text-white" aria-hidden="true"></i>
            <span class="menuLabel">Live Classes</span></a>
        <a mat-list-item><i class="fas fa-book-reader text-white" text-white></i>
            <span class="menuLabel">Classes</span></a>
        <a mat-list-item><i class="fas fa-pen-alt text-white"></i>
            <span class="menuLabel">HomeWorks</span></a>
        <a mat-list-item><i class="fa fa-file-text text-white" aria-hidden="true"></i>
            <span class="menuLabel">Exam</span></a>
        <a mat-list-item><i class="fa fa-address-book text-white" aria-hidden="true"></i>
            <span class="menuLabel">Assignments</span></a>
        <a mat-list-item><i class="fas fa-user-clock text-white"></i>
            <span class="menuLabel">My Performance</span></a>
        <a mat-list-item><i class="fas fa-user-check text-white"></i>
            <span class="menuLabel">Attendance</span></a>
        <a mat-list-item><i class="fas fa-person-booth text-white"></i>
            <span class="menuLabel">Apply Leave</span></a>
        <a mat-list-item><i class="fa fa-calendar text-white" aria-hidden="true"></i>
            <span class="menuLabel">Notice Board</span></a>
        <a mat-list-item><i class="fas fa-edit text-white"></i>
            <span class="menuLabel">Teacher's Review</span></a>
        <a mat-list-item><i class="fa fa-comments text-white" aria-hidden="true"></i>
            <span class="menuLabel">Chat</span></a>
        <a mat-list-item><i class="fa fa-life-ring text-white" aria-hidden="true"></i>
            <span class="menuLabel">Help Center</span></a>
    </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-container>
    <mat-toolbar color="primary">
      <i class="fas fa-align-center pointer" (click)="sidenav.toggle()"></i>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container>
 -->


<!-- sepration -->



<!-- 
<div class="container-fluid">
  <div class="row">
    <div class="col-2 p-0 sidebar">
      <mat-nav-list>
        <div class="side-header text-white text-center p-1">
          Mini school crm
        </div>
        <a mat-list-item class="d-flex justify-content-lg-start justify-content-center" [routerLink]="['/student/myProfile']" routerLinkActive="router-link-active"><i class="fa fa-address-card text-white" aria-hidden="true"></i>
            <span class="menuLabel d-lg-block d-none">My Profile</span></a>
        <a mat-list-item class="d-flex justify-content-lg-start justify-content-center" [routerLink]="['/student/home/class']" routerLinkActive="router-link-active" ><i class="fa fa-video-camera text-white" aria-hidden="true"></i>
            <span class="menuLabel d-lg-block d-none">Live Classes</span></a>
        <a mat-list-item class="d-flex justify-content-lg-start justify-content-center" [routerLink]="['/student/home/studymaterial']" routerLinkActive="router-link-active"><i class="fas fa-book-reader text-white" text-white></i>
            <span class="menuLabel d-lg-block d-none">Study Materials</span></a>
        <a mat-list-item class="d-flex justify-content-lg-start justify-content-center"><i class="fas fa-pen-alt text-white"></i>
            <span class="menuLabel d-lg-block d-none">HomeWorks</span></a>
        <a mat-list-item class="d-flex justify-content-lg-start justify-content-center" [routerLink]="['/student/home/exams']" routerLinkActive="router-link-active"><i class="fa fa-file-text text-white" aria-hidden="true"></i>
            <span class="menuLabel d-lg-block d-none">Exam</span></a>
        <a mat-list-item class="d-flex justify-content-lg-start justify-content-center"><i class="fa fa-address-book text-white" aria-hidden="true"></i>
            <span class="menuLabel d-lg-block d-none">Assignments</span></a>
        <a mat-list-item class="d-flex justify-content-lg-start justify-content-center"><i class="fas fa-user-clock text-white"></i>
            <span class="menuLabel d-lg-block d-none">My Performance</span></a>
        <a mat-list-item class="d-flex justify-content-lg-start justify-content-center"><i class="fas fa-user-check text-white"></i>
            <span class="menuLabel d-lg-block d-none">Attendance</span></a>
        <a mat-list-item class="d-flex justify-content-lg-start justify-content-center"><i class="fas fa-person-booth text-white"></i>
            <span class="menuLabel d-lg-block d-none">Apply Leave</span></a>
        <a mat-list-item class="d-flex justify-content-lg-start justify-content-center"><i class="fa fa-calendar text-white" aria-hidden="true"></i>
            <span class="menuLabel d-lg-block d-none">Notice Board</span></a>
        <a mat-list-item class="d-flex justify-content-lg-start justify-content-center"><i class="fas fa-edit text-white"></i>
            <span class="menuLabel d-lg-block d-none">Teacher's Review</span></a>
        <a mat-list-item class="d-flex justify-content-lg-start justify-content-center"><i class="fa fa-comments text-white" aria-hidden="true"></i>
            <span class="menuLabel d-lg-block d-none">Chat</span></a>
        <a mat-list-item class="d-flex justify-content-lg-start justify-content-center"><i class="fa fa-life-ring text-white" aria-hidden="true"></i>
            <span class="menuLabel d-lg-block d-none">Help Center</span></a>
        <a mat-list-item (click)="logout()" class="d-flex justify-content-lg-start justify-content-center"><i class="fa fa-power-off text-white" aria-hidden="true"></i>
              <span class="menuLabel d-lg-block d-none">Log out</span></a>
    </mat-nav-list>
    </div>
    <div class="col-10 px-0">

      <div class="container-fluid">
        <div class="row appbar">
          <div class="col-12 p-2">appbar</div>
        </div>
      </div>

      <div class="col px-0 bg-light py-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exam instructions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, hic suscipit sunt neque obcaecati nulla autem fugit esse! Illum sit vitae quos est, odit at dolorem molestias ducimus maiores iste.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="navigate()">Confirm</button>
      </div>
    </div>
  </div>
</div> -->



<div class="container-fluid p-0 bg-main full-screen" >
  
  <!-- Top Nav -->
   <nav class="top-nav bg-white">
     <img class="brand-logo" src="../../../assets/img/logo.png" alt="logo" srcset="">
     <div class="header-section">
         <a onclick="openNavStudent()" class="smart-menu"><i class="fa fa-th" aria-hidden="true"></i></a>
         <div class="profile">
             <label class="pr-2" for="">Hi {{username}}</label>
             <img src="../../../assets/avatar.png" alt="avatar" srcset="">
         </div>
     </div>
   </nav>
   <!-- Top Nav Ends-->

 <div class="row m-0">
   
   <div id="side-nav" class="col-3 px-0 side-navbar">
     <!-- side Nav -->
     <nav class="side-nav">
       <ul class="list-group list-group-flush text-light">
           <li class="list-group-item d-flex">
               <a class="pl-2 text-center" onclick="openNavStudent()" [routerLink]="['profile']" routerLinkActive="router-link-active">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <label class="pointer d-block pt-1" for="">My profile</label>
               </a>
           </li>
           <li class="list-group-item d-flex">
               <a class="text-center pl-2" onclick="openNavStudent()" [routerLink]="['class']" routerLinkActive="router-link-active">
                 <i class="fas fa-podcast"></i>  
                 <label class="pt-1 pointer d-block" for="" >Live class</label>
               </a>
           </li>
           <li class="list-group-item d-flex">
            <a class="text-center pl-2" onclick="openNavStudent()" [routerLink]="['noticeboard']" routerLinkActive="router-link-active">
              <i class="fa fa-calendar text-white" aria-hidden="true"></i>
              <label class="pt-1 pointer d-block" for="" >Noticeboard</label>
            </a>
          </li>
           <li class="list-group-item d-flex">
            <a class="text-center pl-2" onclick="openNavStudent()" [routerLink]="['leavelist']" routerLinkActive="router-link-active">
              <i class="fas fa-person-booth"></i> 
              <label class="pt-1 pointer d-block" for="" >Leave</label>
            </a>
          </li>
          <li class="list-group-item d-flex">
            <a class="text-center pl-2" onclick="openNavStudent()" [routerLink]="['homework']" routerLinkActive="router-link-active">
              <i class="fas fa-pen-alt"></i>
              <label class="pt-1 pointer d-block" for="" >Home work</label>
            </a>
          </li>
          <li class="list-group-item d-flex">
            <a class="text-center pl-2" onclick="openNavStudent()" [routerLink]="['chat']" routerLinkActive="router-link-active">
              <i class="fa fa-comments" aria-hidden="true"></i>
              <label class="pt-1 pointer d-block" for="" >Chat</label>
            </a>
          </li>
           <li class="list-group-item d-flex">
               <a class="text-center pl-2" onclick="openNavStudent()" [routerLink]="['studymaterial']" routerLinkActive="router-link-active">
                 <i class="fas fa-atlas"></i>
                 <label class="pt-1 d-block pointer" for="">Materials</label>
               </a>
           </li>
          <!-- <li class="list-group-item d-flex">
            <a class="text-center pl-2" onclick="openNavStudent()" [routerLink]="['homework']">
              <i class="fas fa-atlas"></i>
              <label class="d-block pt-1 pointer" for="" >HomeWorks</label>
            </a>
          </li>
          <li class="list-group-item d-flex">
              <a class="text-center pl-2" onclick="openNavStudent()" [routerLink]="['/teacher/home/studymaterial']">
                <i class="fas fa-atlas"></i>
                <label class="d-block pt-1 pointer" for="" [routerLink]="['/teacher/home/studymaterial']">Assignments</label>
              </a>
          </li>
          <li class="list-group-item d-flex">
            <a class="text-center pl-2" onclick="openNavStudent()" [routerLink]="['/teacher/home/studymaterial']">
              <i class="fas fa-atlas"></i>
              <label class="d-block pt-1 pointer" for="" [routerLink]="['/teacher/home/studymaterial']">My Performance</label>
            </a>
          </li>
          <li class="list-group-item d-flex">
            <a class="text-center pl-2" onclick="openNavStudent()" [routerLink]="['/teacher/home/studymaterial']">
              <i class="fas fa-atlas"></i>
              <label class="d-block pt-1 pointer" for="" [routerLink]="['/teacher/home/studymaterial']">Attendance</label>
            </a>
          </li> -->
           <li class="list-group-item d-flex">
               <a class="text-center pl-2" onclick="openNavStudent()" [routerLink]="['exams']" routerLinkActive="router-link-active">
                 <i class="fa fa-file-text" ></i>
                 <label class="d-block pt-1 pointer" for="" >Exams</label>
               </a>
           </li>
           <li class="list-group-item d-flex">
               <a class="text-center pl-2" (click)="logout()">
                 <i class="fas fa-power-off"></i>
                 <label class="d-block pt-1 pointer" for="">Log Out</label>
               </a>
           </li>
       </ul>
     </nav>
   </div>
   <div class="col px-0 content-container">
     <router-outlet></router-outlet>
   </div>
 </div>
</div>



