

<div class="container-fluid p-3">
     <div class="container-fluid p-0 rounded shadow">
        <div class="container-fluid py-3">
            <h4 class="mb-4">Study Material Search</h4>
            <div class="row m-0">
                <div class="col-md-4 pl-0 mb-3 mb-md-0">
                    <select #classSelect class="form-control form-control" (change)="classSelection(classSelect.value)" id="roomselection">
                        <option value="null">Select class</option>
                        <option value="{{room.name}}" *ngFor="let room of classList">{{room.name}}</option>
                    </select>
                </div>
                <div class="col-md-4 pl-0 pl-md-3 mb-3 mb-md-0">
                    <select #sectionSelect class="form-control form-control" id="roomselection" (change)="sectionSelection(sectionSelect.value)">
                        <option value="null">Select section</option>
                        <option value="{{section}}" *ngFor="let section of sectionList">{{section}}</option>
                    </select>
                </div>
                <div class="col-md-4 pl-0 pl-md-3">
                    <button class="btn btn custom-btn" (click)="search()">Search</button>
                </div>
            </div>
        </div>
        <div class="container-fluid py-3">
            <h4 class="mb-4">Study Material</h4>
            <div class="row m-0">
                <div class="col-12 row m-0 p-0">
                    <div class="col-md-4 pl-0 mb-3">
                        <input [(ngModel)]="studymaterial.name" type="text" name="contentname" id="contentname" class="form-control" placeholder="Name of content">
                    </div>
                    <div class="col-md-4 pl-md-3 pl-0 mb-3">
                        <textarea [(ngModel)]="studymaterial.note" name="note" id="note" class="form-control" placeholder="Enter notes"></textarea>
                    </div>
                </div>
                <div class="col-md-4 pb-3 pl-0">
                    <select [(ngModel)]="studymaterial.room" id="roomselection" (change)="uploadClassSelection()" class="form-control form-control">
                        <option value="null">Select class</option>
                        <option value="{{x.name}}" *ngFor="let x of classList">{{x.name}}</option>
                    </select>
                </div>
                <div class="col-md-4 pb-3 pl-0 pl-md-3">
                    <select  [(ngModel)]="studymaterial.section" id="roomselection" class="form-control form-control">
                        <option value="null">Select section</option>
                        <option value="{{section}}" *ngFor="let section of sectionListUpload">{{section}}</option>
                    </select>
                </div>
                <div class="col-md-4 pb-3 pl-0 pl-md-3">
                    <select [(ngModel)]="studymaterial.subject" id="roomselection" class="form-control form-control">
                        <option value="null">Select subject</option>
                        <option value="{{subject}}" *ngFor="let subject of subjectList">{{subject}}</option>
                    </select>
                </div>
                <div class="col-md-4 pb-3 pl-md-0 pl-0">
                    <select [(ngModel)]="studymaterial.type" id="roomselection" class="form-control form-control">
                        <option value="null">Select type of file</option>
                        <option value="image">Image</option>
                        <option value="pdf">Pdf</option>
                        <option value="doc">Doc</option>
                        <option value="link">Link</option>
                    </select>
                </div>
                <div class="col-md-8 pt-1 pl-0 pl-md-3 mb-3">
                    <label class="mr-3" for="">Upload material</label>
                    <input (change)="uploader($event)" type="file" name="" id="exampleFormControlFile1">
                </div>
                <div class="col-12 text-md-right pl-0 pl-md-3">
                    <button class="btn btn custom-btn mx-1" (click)="cancel()" *ngIf="! saveFlag">Cancel</button>
                    <button class="btn btn custom-btn" (click)="update()" *ngIf="! saveFlag">Update</button>
                    <button class="btn btn custom-btn" (click)="upload()" *ngIf="saveFlag && uploadFlag">Upload</button>
                </div>
            </div>
        </div>
     </div>
 </div>


 <div class="container-fluid p-3"  *ngIf="photoList.length !== 0">
    <div class="container-fluid p-0 rounded shadow">
        <div class="container-fluid py-3">
            <h4 class="d-inline-block">Material Photo Gallery</h4>
            <div class="btn-group float-right">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item text-dark" href="#">Action</a>
                <a class="dropdown-item text-dark" href="#">Another action</a>
                <a class="dropdown-item text-dark" href="#">Something else here</a>
                <a class="dropdown-item text-dark" href="#">Separated link</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 row m-0 p-0">

                  <div id="mdb-lightbox-ui"></div>

                  <div class="mdb-lightbox no-margin m-0 row">

                    <figure class="col-lg-3 col-md-4 col-sm-6 img-item position-relative pointer mt-3" *ngFor="let file of photoList; let i = index;">
                      <a href="#" data-size="1600x1067">
                        <img alt="picture" src="{{file.content}}" class="img-fluid">
                      </a>
                        <div class="position-absolute caption text-white p-1 text-right">
                            <label class="float-left pl-3" for="">{{file.name}}</label>
                            <a href="{{file.content}}" download="{{file.name}}">
                                <i class="mr-2 fas fa-download"></i>
                            </a>
                            <i class="mr-2 far fa-trash-alt m-1" (click)="delete(file, i)"></i>
                            <i class="mr-2 far fa-edit m-1" (click)="edit(file)"></i>
                        </div>
                    </figure>

                  </div>

                </div>
            </div>
        </div>

    </div>
</div>    


<div class="container-fluid p-3" *ngIf="pdfList.length !== 0">
    <div class="container-fluid p-0 rounded shadow">
        <div class="container-fluid py-3">
            <h4 class="mb-4 d-inline-block">Material PDF Gallery</h4>
            <div class="btn-group float-right">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item text-dark" href="#">Action</a>
                <a class="dropdown-item text-dark" href="#">Another action</a>
                <a class="dropdown-item text-dark" href="#">Something else here</a>
                <a class="dropdown-item text-dark" href="#">Separated link</a>
                </div>
            </div>
            <div class="d-flex">
                <div class="pdf-card mr-3 text-center" *ngFor="let item of pdfList;let i = index;">
                    <i class="delete-icon mr-2 far fa-trash-alt m-1" (click)="delete(item, i)"></i>
                    <i class="edit-icon mr-2 far fa-edit m-1" (click)="edit(item)"></i>
                    <i class="pdf-icon fas fa-file-pdf"></i>

                    <label class="file-name" for="">{{item.name}}</label>
                    <a class="download-icon" [href]="this.sanitizer.bypassSecurityTrustResourceUrl(item.content)" download="{{item.name}}.pdf">
                        <i class="mr-2 fas fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>    

<div class="container-fluid p-3" *ngIf="docList.length !== 0">
    <div class="container-fluid p-0 rounded shadow">
        <div class="container-fluid py-3">
            <h4 class="mb-4 d-inline-block">Material DOC Gallery</h4>
            <div class="btn-group float-right">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item text-dark" href="#">Action</a>
                <a class="dropdown-item text-dark" href="#">Another action</a>
                <a class="dropdown-item text-dark" href="#">Something else here</a>
                <a class="dropdown-item text-dark" href="#">Separated link</a>
                </div>
            </div>
            <div class="d-flex">
                <div class="doc-card mr-3" *ngFor="let item of docList;let i = index;">
                    <i class="delete-icon mr-2 far fa-trash-alt m-1" (click)="delete(item, i)"></i>
                    <i class="edit-icon mr-2 far fa-edit m-1" (click)="edit(item)"></i>
                    <i class="pdf-icon fas fa-file-pdf"></i>

                    <label class="file-name" for="">{{item.name}}</label>
                    <a class="download-icon" [href]="this.sanitizer.bypassSecurityTrustResourceUrl(item.content)" download="{{item.name}}.doc">
                        <i class="mr-2 fas fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>    


<div class="container-fluid p-3">
    <div class="container-fluid p-0 rounded shadow">
        <div class="container-fluid py-3">
            <h4 class="mb-4 d-inline-block">Shared Links</h4>
            <div class="btn-group float-right">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item text-dark" href="#">Action</a>
                <a class="dropdown-item text-dark" href="#">Another action</a>
                <a class="dropdown-item text-dark" href="#">Something else here</a>
                <a class="dropdown-item text-dark" href="#">Separated link</a>
                </div>
            </div>
            <div class="row m-0">
                <div class="link-container d-flex mr-3 mb-3">
                    <a href=""><label class="mx-2 m-0" for="">Maths chapter 2 link</label></a>
                    <i class="mr-2 far fa-trash-alt m-1" ></i>
                    <i class="mr-2 far fa-edit m-1" ></i>
                </div>
                <div class="link-container d-flex mr-3 mb-3">
                    <a class="text-primary" href=""><label class="mx-2 m-0" for="">Maths chapter 3 </label></a>
                    <i class="mr-2 far fa-trash-alt m-1 mb-3" ></i>
                    <i class="mr-2 far fa-edit m-1" ></i>
                </div>
                <div class="link-container d-flex mr-3 mb-3">
                    <a class="text-primary" href=""><label class="mx-2 m-0" for="">Maths chapter 3 link Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate possimus animi praesentium necessitatibus facilis ipsum quae ad natus, error similique laboriosam nesciunt odio, accusantium at eos sed deleniti molestiae nostrum.</label></a>
                    <i class="mr-2 far fa-trash-alt m-1" ></i>
                    <i class="mr-2 far fa-edit m-1" ></i>
                </div>
                <div class="link-container d-flex mr-3 mb-3">
                    <a class="text-primary" href=""><label class="mx-2 m-0" for="">Maths chapter 3 link Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate possimus animi praesentium necessitatibus facilis ipsum quae ad natus, error similique laboriosam nesciunt odio, accusantium at eos sed deleniti molestiae nostrum.</label></a>
                    <i class="mr-2 far fa-trash-alt m-1" ></i>
                    <i class="mr-2 far fa-edit m-1" ></i>
                </div>
            </div>
        </div>
    </div>
</div>   


