<!-- <div class="container-fluid p-3">
    <div class="row">
        <div class="col-6">
            <select [(ngModel)]="designation" (change)="designationfilter()" class="form-control form-control-sm border-0 shadow-sm">
                <option value="All">All</option>
                <option value="{{designation.name}}" *ngFor="let designation of designationList">{{designation.name}}</option>
              </select>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
            <button class="btn btn-sm custom-btn shadow-sm" [routerLink]="['/sadmin/createfaculty']" routerLinkActive="router-link-active" >Create Teacher</button>
        </div>
        <div class="col-lg-6 col-12 my-2" *ngFor="let faculty of facultyList">
            <div class="card border-0 shadow-sm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3 d-flex align-items-center justify-content-center border-right p-2">
                            <img src="{{faculty.photo}}" width="100px" height="100px" class="rounded-circle" alt="">
                        </div>
                        <div class="col-9 d-flex flex-column p-2">
                            <span>{{faculty.firstname}} {{faculty.lastname}}</span>
                            <span>{{faculty.currentaddress}}</span>
                            <span>{{faculty.designation}}</span>
                            <span>{{faculty.department}}</span>
                        </div>
                        <div class="col-12 bg-light d-flex align-items-center justify-content-end py-2">
                            <i class="fas fa-edit mx-1 text-info" (click)="edit(faculty)"></i>
                            <i class="fas fa-trash mx-1 text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid p-3" >
    <div class="container-fluid p-0 rounded shadow">
        <div class="container-fluid py-3">
            <h4 class="d-inline-block">Staff Directory</h4>
            <button class="btn btn-sm custom-btn shadow-sm float-right" [routerLink]="['/sadmin/createfaculty']" routerLinkActive="router-link-active" >Create Teacher</button>
            <div class="row m-0 w-100 pt-3">
                <div class="py-3 mx-md-0 mx-auto" *ngFor="let faculty of facultyList">
                    <div class="teacher-profile text-center"(click)="edit(faculty)">
                        <div class="bg-profile"></div>
                        <img src="../../../assets/avatar.png" alt="">
                        <h3>{{faculty.firstname}} {{faculty.lastname}}</h3>
                        <h6>{{faculty.designation}}</h6>
                        <label for="">{{faculty.department}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>    