<div class="container-fluid p-0 bg-main full-screen" >
  
   <!-- Top Nav -->
    <nav class="top-nav bg-white">
      <img class="brand-logo" src="../../../assets/img/logo.png" alt="logo" srcset="">
      <div class="header-section">
          <a onclick="openNav()" class="smart-menu"><i class="fa fa-th" aria-hidden="true"></i></a>
          <div class="profile">
              <label class="pr-2" for="">Hi {{username}}</label>
              <img src="../../../assets/avatar.png" alt="avatar" srcset="">
          </div>
      </div>
    </nav>
    <!-- Top Nav Ends-->

  <div class="row m-0">
    
    <div id="side-nav" class="col-md-1 px-0 side-navbar">
      <!-- side Nav -->
      <nav class="side-nav">
        <ul class="list-group list-group-flush text-light">
            <li class="list-group-item d-flex">
                <a class="w-100" onclick="openNav()" [routerLink]="['myprofile']" routerLinkActive="router-link-active">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <label class="d-block pointer" for="" >Profile</label>
                </a>
                
            </li>
            <li class="list-group-item d-flex">
                <a class="w-100" onclick="openNav()" [routerLink]="['class']" routerLinkActive="router-link-active">
                  <i class="fas fa-podcast"></i>  
                  <label class="d-block pointer" for="" >Class</label>
                </a>
            </li>
            <li class="list-group-item d-flex">
              <a class="w-100" onclick="openNav()" [routerLink]="['noticeboard']" routerLinkActive="router-link-active">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <label class="d-block pointer" for="" >Notice Board</label>
              </a>
          </li>
            <li class="list-group-item d-flex">
              <a class="w-100" onclick="openNav()" [routerLink]="['homework']" routerLinkActive="router-link-active">
                <i class="fas fa-pen-alt"></i>
                <label class="d-block pointer" for="" >Homeworks</label>
              </a>
          </li>
            <li class="list-group-item d-flex">
              <a class="w-100" onclick="openNav()" [routerLink]="['leaveapprove']" routerLinkActive="router-link-active">
                <i class="fas fa-person-booth"></i> 
                <label class="d-block pointer" for="" >Leave</label>
              </a>
          </li>
            <li class="list-group-item d-flex">
                <a class="w-100" onclick="openNav()" [routerLink]="['studymaterial']" routerLinkActive="router-link-active">
                  <i class="fas fa-atlas"></i>
                  <label class="d-block pointer" for="" >Materials</label>
                </a>
            </li>
            <li class="list-group-item d-flex">
              <a class="w-100" onclick="openNav()" [routerLink]="['chat']" routerLinkActive="router-link-active">
                <i class="fa fa-comments" aria-hidden="true"></i>
                <label class="d-block pointer" for="" >Chat</label>
              </a>
          </li>
            <li class="list-group-item d-flex">
                <a class="w-100" onclick="openNav()" [routerLink]="['exams']" routerLinkActive="router-link-active">
                  <i class="fa fa-file-text" ></i>
                  <label class="d-block pointer" for="" >Exams</label>
                </a>
            </li>
            <li class="list-group-item d-flex">
                <a class="w-100" (click)="logout()">
                  <i class="fas fa-power-off"></i>
                  <label class="d-block" for="">Log Out</label>
                </a>
            </li>
        </ul>
      </nav>
    </div>
    <div class="col px-0 content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>