<div class="container-fluid p-0 bg-main full-screen" >
  
   <!-- Top Nav -->
    <nav class="top-nav bg-white">
      <img class="brand-logo" src="../../../assets/img/logo.png" alt="logo" srcset="">
      <div class="header-section">
          <a onclick="openNav()" class="smart-menu"><i class="fa fa-th" aria-hidden="true"></i></a>
          <div class="profile">
              <label class="pr-2" for="">Hi {{username}}</label>
              <img src="../../../assets/avatar.png" alt="avatar" srcset="">
          </div>
      </div>
    </nav>
    <!-- Top Nav Ends-->

  <div class="row m-0">
    
    <div id="side-nav" class="col-md-1 px-0 side-navbar">
      <!-- side Nav -->
      <nav class="side-nav">
        <ul class="list-group list-group-flush text-light">
            <li class="list-group-item">
                <a onclick="openNav()" [routerLink]="['/teacher/home/myprofile']">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <label class="d-block pointer" for="" [routerLink]="['/teacher/home/myprofile']">Profile</label>
            </li>
            <li class="list-group-item">
                <a onclick="openNav()" [routerLink]="['/teacher/home/class']">
                  <i class="fas fa-podcast"></i>  
                  <label class="d-block pointer" for="" [routerLink]="['/teacher/home/class']">Class</label>
                </a>
            </li>
            <li class="list-group-item">
                <a onclick="openNav()" [routerLink]="['/teacher/home/studymaterial']">
                  <i class="fas fa-atlas"></i>
                  <label class="d-block pointer" for="" [routerLink]="['/teacher/home/studymaterial']">Materials</label>
                </a>
            </li>
            <li class="list-group-item">
                <a onclick="openNav()" [routerLink]="['/teacher/home/exams']">
                  <i class="fa fa-file-text" ></i>
                  <label class="d-block pointer" for="" [routerLink]="['/teacher/home/exams']">Exams</label>
                </a>
            </li>
            <li class="list-group-item">
                <a (click)="logout()">
                  <i class="fas fa-power-off"></i>
                  <label class="d-block" for="">Log Out</label>
                </a>
            </li>
        </ul>
      </nav>
    </div>
    <div class="col px-0 content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>